.alnlft {
    text-align: left;
}

.alnrit {
    text-align: right;
}

.alncnt {
    text-align: center;
}

.margin1vw {
    margin: 1vw;
}

.margin1vw-t {
    margin-top: 1vw;
}

.margin5vw-t {
    margin-top: 5vw;
}

.margin1vw-r {
    margin-right: 1vw;
}

.margin1vw-l {
    margin-left: 1vw;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.transparent02 {
    background: rgba(211, 211, 211, 0.2)
}

.transparent {
    background: transparent;
}

.option-r {
    color: #eee;
}

.creamsLi {
    margin-top: 1vh;
    height: 5vh;
    list-style-type: none;
}

.menuItem {
    /* 右键菜单选择项 */
    width: 99.7%;
    display: block;
    margin: 0;
}

.mainTag {
    overflow: hidden;
    white-space: nowrap;
}

.mainTag::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0.333vw;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 0.333vw;
}

.mainTag:hover {
    overflow-x: auto;
    overflow-y: hidden;
}

.themeSpan {
    /*小颜色方块*/
    height: 25px;
    width: 25px;
    border-radius: 5px;
    /* cursor: not-allowed; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.inblock {
    display: inline-block;
}

/* pointerEvents:none禁止点击 */
.notLineFeed {
    /* 不换行 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.width100 {
    width: 100%
}

.width80 {
    width: 80%
}

.width50 {
    width: 50%
}

.title {
    /* 标题文字 */
    font-size: 16px;
    font-weight: 500;
    /* 18/1920 */
    cursor: default;
}

.largeTitle {
    /* 大标题文字 */
    font-size: 20px;
    font-weight: 500;
}

.normal {
    /* 普通文字 */
    font-size: 12px;
    color: #ababab;
}

.tableClass {
    /* 表格文字 */
    font-size: 13px;
}

.messageBox {
    /* 消息框 */
    min-width: 3vw;
    font-size: 16px;
    padding: 1vh;
}

.menuIcon {
    /*菜单图标*/
    font-size: 20px;
}

.icon {
    /* 图标 */
    font-size: 27px;
}

.h9999 {
    /* 全屏高 */
    height: 99.99vh;
}

.w9999 {
    /* 全屏高 */
    width: 99.99vw;
}

.overflowauto {
    overflow: auto;
}

.autoScroll {
    overflow: auto;
    transition: all 1s;
}

.autoScroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0.001px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 0.001px;
}

.hh5 {
    /*顶部栏*/
    height: 5vh
}

.th4 {
    /*tag 标签*/
    height: 3.5vh;
    margin: 0.3vw 0.5vw 0 0.5vw;
}

.shadow {
    /* 阴影 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 6px rgba(0, 0, 0, 0.35);
}

.mainAppContent {
    height: 89vh;
    border-radius: 4px;
}

.h100 {
    height: 99.7%;
}

.w100 {
    width: 99.7%;
}

.echarsCSS {
    width: 99.7%;
    height: 27.77777vh;
}

.treeSearch {
    height: 5vh;
}

.treeMH {
    height: 78vh;
    overflow: auto
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcfcfc;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

#app:hover ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}

.el-tooltip__popper {
    max-width: 20vw;
}

.el-tag--mini,
.el-tag--medium {
    /* height: 3.2vh; */
    /* line-height: 3vh; */
}

.el-divider--horizontal {
    margin: 1.5% 0;
}

.el-divider__text,
.el-table__body-wrapper,
.el-tree,
.el-table th,
.el-table__footer-wrapper,
.el-table__header-wrapper {
    background-color: #fcfcfc;
}

.el-badge {
    /* margin-top: -10px; */
}

.el-tree-node__content:hover {
    background-color: #77777713;
    color: rgba(34, 144, 255, 0.596);
    font-weight: 500;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: rgba(131, 176, 238, 0.26);
    color: rgb(15, 119, 255);
    font-weight: 500;
}

.el-menu--popup,
.el-popover,
.el-submenu .el-menu-item {
    min-width: auto;
}

.el-tree > .el-tree-node {
    display: inline-block;
    min-width: 99.7%;
}

.el-menu {
    border-right: 0;
}

.el-cascader__search-input {
    height: 0;
}

.el-table th.gutter {
    display: table-cell !important;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0.625vw;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 0.625vw;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 0.625vw;
    background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 0.625vw;
    background: rgba(0, 0, 0, 0);
}

.list-complete-item {
    transition: all 4s;
    display: block;
}

.list-complete-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}